<!DOCTYPE html>
<html>
<head>
<%- include('partials/head', {title: 'Accueil'}) %>
</head>
<body>
  
  <header>
    <%- include('partials/nav') %>
  </header>
  
  <main>
    <section class="container mt-5">
      <div class="text-center mb-4">
        <h1 class="display-4">Port de plaisance Russell</h1>
        <p class="lead">Gérez facilement vos réservations de catways via notre application web sécurisée.</p>
      </div>
      
      <section class="row justify-content-center">
        <div class="col-md-6">
          <!-- Formulaire de connexion -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Connexion</h5>
              <form action="/connexion/login" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Adresse e-mail</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                
                <div class="mb-3">
                  <label for="password" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      
      <div class="text-center mt-4">
        <a href="/api-docs" target="_blank" class="btn btn-link">Découvrir la documentation de l'API</a>
      </div>
    </section>
  </main>
  
  <footer>
  <%- include('partials/footer') %>
  </footer>
  
  <%- include('partials/script') %>
</body>
</html>