<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head', { title: `Réservation d'un bateau` }) %>
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
        <div class="container mt-5">
            <h1 class="text-center">Réservez votre bateau</h1>
        </div>
    </header>
    <main class="container mt-5">
        <section class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="/reservations/add">
                    <div class="mb-3">
                        <label for="catwayNumber" class="form-label fw-bold">Choisissez le numéro de catway</label>
                        <select class="form-control" id="catwayNumber" name="catwayNumber" required>
                            <option disabled selected hidden>Choisissez un numéro de catway</option>
                            <option>C-101</option>
                            <option>C-102</option>
                            <option>C-103</option>
                            <option>C-104</option>
                            <option>C-105</option>
                        </select>            
                    </div>
                    
                    <div class="mb-3">
                        <label for="clientName" class="form-label fw-bold">Renseignez votre nom pour la réservation</label>
                        <input type="text" id="clientName" name="clientName">
                    </div>
                    
                    <div class="mb-3">
                        <label for="boatName" class="form-label fw-bold">Choisissez votre bateau</label>
                        <select class="form-control" id="boatName" name="boatName" required>
                            <option disabled selected hidden>Choisissez un numéro de catway</option>
                            <option>La Méduse</option>
                            <option>Le Maurice</option>
                            <option>Le Corse</option>
                            <option>La Rochelle</option>
                            <option>La Bounty</option>
                        </select>   
                    </div>

                    <div class="mb-3">
                        <label for="startDate" class="form-label fw-bold">Date de début</label>
                        <input type="date" id="startDate" name="startDate">
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label fw-bold">Date de fin</label>
                        <input type="date" id="endDate" name="endDate">
                    </div>
                    
                    <div class="d-grid"> 
                        <button type="submit" class="btn btn-primary">Réserver</button>
                    </div>
                </form>
                <a href="/reservations/view">Retour liste</a>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
        <%- include('../partials/script') %>
</body>
</html>