<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head', { title: `Créer un profil utilisateur` }) %>
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
        <div class="container mt-5">
            <h1 class="text-center">Créer un profil utilisateur</h1>
        </div>
    </header>
    <main class="container mt-5">
        <section class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="/users/add">
                    <div class="mb-3">
                        <label for="userName" class="form-label fw-bold">Votre nom d'utilisateur</label>
                        <input type="text" id="userName" name="userName">
                    </div>
                    
                    <div class="mb-3">
                        <label for="userEmail" class="form-label fw-bold">Votre adresse email</label>
                        <input type="email" id="userEmail" name="userEmail">
                    </div>
                    
                    <div class="mb-3">
                        <label for="userPassword" class="form-label fw-bold">Créer votre mot de passe en toute sécurité</label>
                        <input type="password" id="userPassword" name="userPassword">
                    </div>
                    
                    <div class="d-grid"> 
                        <button type="submit" class="btn btn-primary mb-2">Créer mon compte</button>
                    </div>
                </form>
                <a href="/users/view">Retour liste des utilisateurs</a>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
        <%- include('../partials/script') %>
</body>
</html>